.container {
  background-size: cover;
  background-repeat: repeat;
}

 .section-content {
    margin-left: 110px;
    margin-right: 10%;
    margin-top: 10px;
} 

input[type=button] {
  margin-top: 10px;
  margin-left: 25px;
}

.message {
  color: #333;
  text-align: center;
}

/* @media screen and (max-width: 600px) {
  
} */